html, body, #root, .wrap {
    height: 100%;
}

.wrap {
    min-width: 280px;
}
.nav-wrap {
    position: relative;
    padding: 20px 30px;
    .btn-menu {
        display: none;
        position: absolute;
        top: 20px;
        left: 20px;
        outline: none;
        border: 0;
        background-color: transparent;
        z-index: 10;
    }
}
.login-button {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    color: #000;
    text-decoration: none;
    .ico-login {
        margin-right: 4px;
    }
}
.nav-section {
    display: flex;
    justify-content: center;
}
.menu-area {
    display: flex;
    justify-content: space-between;
    .menu-list-wrap {
        flex: 1;
        display: flex;
        justify-content: center;
        padding-left: 164px;
    }
    .menu-list {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        li {
            padding: 10px;
            white-space: nowrap;
        }
    }

    .input-wrap {
        display: flex;
        align-items: center;
    }
    .input-box {
        display: flex;
        align-items: center;
        border-bottom:  1px solid #000;
        padding: 5px 0;
        margin-top: -25px;
        .ico-search {
            margin-right: 4px;
        }
        input {
            outline: 0;
            border: 0;
        }
    }
}

.product-card {
    .card-img-wrap {
        transition: transform .2s cubic-bezier(0.165, 0.84, 0.44, 1);
        overflow: hidden;
        &:hover {
            img {
                transform: scale(1.03);
            }
        }
    }
    img {
        width: 100%;
    }
}

// Login Page
.login-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100% - 170px);
    padding-bottom: 50px;
    .inner {
        width: 100%;
        padding: 0 5px
    }
    .login-form {
        width: 100%;
        max-width: 458px;
        margin: 0 auto;
        padding: 24px;
        border-radius: 12px;
        border: 1px solid #e1e3e5;
    }
    
    .input-item {
        position: relative;
        
        input {
            position: relative;
            width: 100%;
            outline: 0;
            border: 1px solid #e1e3e5;
            padding: 27px 15px 8px;
            
        }
        label {
            position: absolute;
            bottom: 30px;
            left: 7px;
            width: auto;
            padding: 0 8px;
            font-size: 12px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: -.8px;
            transition: all .3s cubic-bezier(.4,0,.2,1);
            color: rgba(0, 0, 0, .38);
            pointer-events: none;
            box-sizing: border-box;
            white-space: nowrap;
            z-index: 3;
        
        }
        &.input-email {
            input {
                border-radius: 8px 8px 0 0;
                &:focus {
                    border-radius: 8px 8px 0 0;
                    border: 1px solid #e60010;
                }
            }
        }
        &.input-pw {
            input {
                border-top: 0;
                border-radius: 0 0 8px 8px;
                &:focus {
                    border-radius: 0 0 8px 8px;
                    border: 1px solid #e60010;
                }
            }
        }
    }
    .keep-login {
        display: flex;
        align-items: center;
        margin-top: 12px;
        input {
            margin-right: 4px;
        }
        label {
            display: inline-block;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            color: #767678;
        }
    }
    .btn-wrap {
        margin-top: 20px;
        .btn-login {
            display: block;
            width: 100%;
            padding: 13px 20px;
            outline: 0;
            border: 0;
            border-radius: 8px;
            background: #e60010;
            font-size: 17px;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: -.4px;
            color: #fff;
        }
    }
    .find-wrap {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 0 30px;
        
        li {
            position: relative;
            & + li {
                margin-left: 28px;
                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: -14px;
                    transform: translateY(-50%);
                    width: 1px;
                    height: 13px;
                    background: #888;
                }
            }
        }
        a {
            display: inline-block;
            font-size: 14px;
            line-height: 17px;
            text-decoration: none;
            color: #888
        }
    }
}
// ProductAll Page
.sort-title {
    display: block;
    margin: 10px 0;
}

// Detail Page
.product-img {
    display: flex;
    justify-content: flex-end;
    .img-wrap {
        max-width: 400px;
        img {
            width: 100%;
        }
    }
}
.detail-title {
    font-weight: 500;
    font-size: 16px;
    color: #222;
}
.detail-price {
    margin-top: 16px;
    font-size: 20px;
    color: #222;
}
.detail-subtext {
    margin-top: 24px;
    font-size: 13px;
    color: #707070;
}
.detail-dropdown {
    margin-top: 24px;
    button {
        background: #fff;
        border: 1px solid rgba(0, 0, 0, 0.175);
        color: #212529;
        &:hover {
            background: #212529;
            border: 1px solid rgba(0, 0, 0, 0.175);
            color: #fff;
        }
    }
}

.detail-btn-add {
    width: 100%;
    max-width: 400px;
    height: 40px !important;
    margin-top: 50px;
    border: 0 !important;
    background: #e60010 !important;
    font-weight: 700 !important;
}

@media screen and (max-width: 768px) {
    .product-wrap {
        .container {
            max-width: 540px;
        }
    }
    .nav-wrap {
        .menu-wrap {
            &.on {
                .menu-area {
                    display: block;
                    z-index: 100;
                }
                &::after {
                    content: '';
                    position: fixed;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    background: rgba(0, 0, 0, 0.75);
                    z-index: 10;
                }
                .btn-menu {
                    left: auto;
                    right: 80px;
                }
            }
            
            .btn-menu  {
                display: block;
                z-index: 200;
            }
            .menu-area {
                display: none;
                position: fixed;
                top: 0;
                left: 0;
                bottom: 0;
                right: 60px;
                background: #fff;
                z-index: 100;
                padding: 80px 20px 20px;
                flex-direction: column;
                align-items: center;
                
                
                .menu-list-wrap {
                    width: 100%;
                    padding: 0;
                    order: 2;
                }
                .menu-list {
                    flex-direction: column;
                    width: 100%;
                    padding: 0;
        
                }
                .input-wrap {
                    width: 100%;
                    order: 1;
                    .input-box {
                        width: 100%;
                    }
                    input {
                        width: 100%;
                    }
                }
                .input-box {
                    margin-top: 0;
                    margin-bottom: 14px;
                }
            }
        }
        
    }
    .sort-title {
        display: block;
        text-align: center;
    }
    .login-wrap {
        align-items: flex-start;
        min-height: auto;
        margin-top: 30px;
        .inner {
            padding: 0 20px;
        }
    }
    .item-wrap {
        flex-direction: column;
        padding-bottom: 20px;
        .detail-price {
            margin-top: 6px;
        }
        .detail-subtext {
            margin-top: 6px;
        }
    }
    .detail-wrap {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 10px;
        .detail-dropdown {
            margin-top: 0;
        }
    }
    .product-img {
        .img-wrap {
            max-width: none;
        }
    }
    .detail-btn-add {
        max-width: none;
        margin-top: 16px;
    }
}